/* #tabs {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0;
}

#tabs li a {
    position: relative;
    padding: 10px 50px;
    float: left;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.ccc {
    background-color: black;
}

.ccc a {
    color: #fff;
}

.current a {
    outline: 0;
    z-index: 4;
}

.hoverItem a {
    background: black;
    color: #fff;
}

.tab {
    display: none;
}

.show {
    display: block;
} */

body {
    color: #333;
    line-height: 1.8;
    letter-spacing: 0.08rem;
    font-family: open sans, helvetica neue, helvetica, arial, sans-serif
}

.random-class {
    
}

body, h2, p {
    margin: 0;
    padding: 0;
}


#book {
    background: url("book_large.png") no-repeat;
    position: relative;
    width: 830px;
    height: 760px;
    left: 50%;
    margin-left: -400px;
}

#pages section {
    background: url("paper_large.png") no-repeat;
    display: block;
    width: 400px;
    height: 750px;
    position: relative;
    left: 415px;
    top: 5px;
    overflow: hidden;
}
    #pages section>div {
        display: block;
        width: 400px;
        height: 750px;
        font-size: 12px;
        padding-top: 1em;
    }
    #pages section p,
    #pages section h2 {
        padding: 3px 35px;
        line-height: 1.4em;
    }
    #pages section h2{
        margin: 15px 0 10px;
    }

#pageflip-canvas {
    position: relative;
    z-index: 100;
}

.divider {
    border-bottom: 2px solid;
}

textarea{
    resize: none;
}
