body, h2, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
	background: url("book_large.png") no-repeat;
	position: relative;
	width: 830px;
	height: 760px;
	left: 50%;
	margin-left: -400px;
}

#pages section {
	background: url("paper_large.png") no-repeat;
	display: block;
	width: 400px;
	height: 750px;
	position: absolute;
	left: 415px;
	top: 15px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 400px;
		height: 750px;
		font-size: 12px;
		padding-top: 1em;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		border-bottom: 1px solid;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: relative;
	z-index: 100;
}
